<div>
    <h2>Medicación</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Medico</th>
                <th>Medicamento</th>
                <th>Fecha inicio</th>
                <th>Fecha final</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            {%for medica in medicacion%}
            <tr>
                <td>{{medica.medico}}</td>
                <td>{{medica.medicina}}</td>
                <td>{{medica.fecha_inicio}}</td>
                <td>{{medica.fecha_final}}</td>
            </tr>
            {% endfor%}
            <!-- Agregar más filas según sea necesario -->
        </tbody>
    </table>
</div>
