<div>
    <h2>Medicación</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Medicamento</th>
                <th>Dosis</th>
                <th>Frecuencia</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ibuprofeno</td>
                <td>200 mg</td>
                <td>2 veces al día</td>
                <!-- <td><button class="btn btn-warning btn-sm">Modificar</button></td> -->
            </tr>
            <!-- Agregar más filas según sea necesario -->
        </tbody>
    </table>
</div>
