{% extends 'Hub/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3">
            <div class="list-group">
                <a href="{% url 'pacientes/perfil' %}" class="list-group-item list-group-item-action" hx-get="{% url 'pacientes/perfil' %}" hx-target="#content" hx-swap="innerHTML">Configuración</a>
                <a href="{% url 'pacientes/historial_medico' %}" class="list-group-item list-group-item-action" hx-get="{% url 'pacientes/historial_medico' %}" hx-target="#content" hx-swap="innerHTML">Historial</a>
                <a href="{% url 'pacientes/visitas' %}" class="list-group-item list-group-item-action" hx-get="{% url 'pacientes/visitas' %}" hx-target="#content" hx-swap="innerHTML">Visitas</a>
                <a href="{% url 'pacientes/medicacion' %}" class="list-group-item list-group-item-action" hx-get="{% url 'pacientes/medicacion' %}" hx-target="#content" hx-swap="innerHTML">Medicación</a>
            </div>
        </div>
        <!-- Content Area -->
        <div class="col-lg-9">
            <div id="content">
                <h2>Bienvenido, seleccione una opción del menú</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer id="footer" class="footer light-background">
    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Medilab</strong> <span>All Rights Reserved</span></p>
    </div>
</footer>
{% endblock %}
