<div class="container mt-4">
    <h2>Configuración</h2>
    <form action="{% url 'pacientes/perfil' %}" method="post" class="php-email-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <p><strong>Nombre:</strong> <input type="text" name="nombre" value="{{ perfil.nombre|default:'' }}" class="form-control"></p>
<p><strong>Apellido:</strong> <input type="text" name="apellido" value="{{ perfil.apellido|default:'' }}" class="form-control"></p>
                <p><strong>DNI:</strong> {{ perfil.dni }}</p>
                <p><strong>Email:</strong> <input type="email" name="email" value="{{ perfil.email }}" class="form-control"></p>
                <p><strong>Teléfono:</strong> <input type="text" name="telefono" value="{{ perfil.telefono }}" class="form-control"></p>
            </div>
            <div class="col-md-6">
                <p><strong>Dirección:</strong> <input type="text" name="direccion" value="{{ perfil.direccion }}" class="form-control"></p>
                <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
                <p><strong>Número de Seguro Social:</strong> {{ perfil.numero_seguro_social }}</p>
                <p><strong>Contacto de emergencia:</strong> <input type="text" name="contacto_emergencia" value="{{ perfil.contacto_emergencia }}" class="form-control"></p>
                <p><strong>Teléfono de emergencia:</strong> <input type="text" name="telefono_emergencia" value="{{ perfil.telefono_emergencia }}" class="form-control"></p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
        <input type="hidden" name="dni" value="{{ perfil.dni }}">
    </form>
</div>
