<div>
    <h2>Visitas</h2>
    <button class="btn btn-primary mb-3" hx-get="{% url 'pacientes/nueva_visita' %}" hx-target="#content"
        hx-swap="innerHTML">Crear Visita</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Doctor</th>
                <th>Fecha y Hora</th>
                <th>Modivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for visita in visitas%}
            <tr>
                <td>{{visita.medico}}</td>
                <td>{{visita.hora_fecha}}</td>
                <td>{{visita.descripcion_problema}}</td>
                <td><button class="btn btn-warning btn-sm" hx-get="{% url 'pacientes/mod_visita' visita.id%}"
                        hx-target="#content" hx-swap="innerHTML">Modificar</button></td>
            </tr>
            {%endfor%}
            <!-- Agregar más filas según sea necesario -->
        </tbody>
    </table>
</div>