<div class="container mt-4">
    <button class="btn btn-secondary mb-3" hx-get="{% url 'staff/paciente_ind' perfil.access_key %}" hx-target="#content" hx-swap="innerHTML">
        <i class="bi bi-arrow-left"></i> Volver
    </button>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Lista de Expedientes</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID del Expediente</th>
                                <th>Fecha de Creación</th>
                                <th>Descripción</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for expediente in expedientes %}
                                <tr>
                                    <td>{{ expediente.id }}</td>
                                    <td>{{ expediente.fecha_creacion }}</td>
                                    <td>{{ expediente.descripcion }}</td>
                                    <td>
                                        <a href="{% url 'ver_expediente' expediente.id %}" class="btn btn-primary btn-sm">Ver</a>
                                        <a href="{% url 'descargar_expediente_pdf' expediente.id %}" class="btn btn-secondary btn-sm">
                                            PDF
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
