<!-- Hub/templates/Hub/login.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Hub/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Inicio de Sesión</h2>
        {% if error_message %}
            <p style="color:red;">{{ error_message }}</p>
        {% endif %}
        <form method="post" action="{% url 'log_in' %}">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br>
            <label for="user_type">Tipo de usuario:</label>
            <select id="user_type" name="user_type" required>
                <option value="client">Cliente</option>
                <option value="doctor">Doctor</option>
            </select><br>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>¿No tienes una cuenta? <a href="{% url 'crear_usuario' %}">Regístrate aquí</a></p>
    </div>
</body>
</html>
