<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Documento</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'hub/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<html>

<body>
    <div id="nav">{% block nav %}
        <div class="bumper_1">
            <div id="redes">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin" id="icono"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
            <div id="idioma">
                <i class="fa-solid fa-e"></i>
                <i class="fa-solid fa-i"></i>
            </div>
            <label class="ui-switch">
                <input type="checkbox" class="box">
                <div class="slider">
                    <div class="circle"></div>
                </div>
            </label>
        </div>
        <div class="bumper_2" id="bumper_2">
            <div id="texto">
                <i onclick="scrollToTop()">INICIO</i>
                <i onclick="scrollToPosition(700)">ESPECIALIDADES</i>
                <i onclick="scrollToPosition(5000)">COLABORACIONES</i>
            </div>
            <button id="login"> Login </button>
        </div>
        {% endblock %}
    </div>
    <div class="bumper_3">{% block portada %}
        <h2>'Expertos en tratamiento de diabetes, pneumonia, enfermedades del corazon, entre otras'</h2>
        <h4>Victor, cristian, jose, francisco, tania</h4>
        {% endblock %}
    </div>

    <section class="container">{% block content %}
        <div class="space-holder">
            <div class="sticky" id="sticky">
                <div class="horizontal">
                    <section role="feed" class="cards">
                        <article class="sample-card-inv">
                        </article>
                        <article class="sample-card" id="uno">
                            <h3>enfermedad 1</h3>
                            <h4>descripción</h4>
                        </article>
                        <article class="sample-card2" id="dos">
                            <h3>enfermedad 2</h3>
                            <h4>descripción</h4>
                        </article>
                        <article class="sample-card" id="tres">
                            <h3>enfermedad 3</h3>
                            <h4>descripción</h4>
                        </article>
                        <article class="sample-card2" id="cuatro" >
                            <h3>enfermedad 4</h3>
                            <h4>descripción</h4>
                        </article>
                        <article class="sample-card" id="cinco">
                            <h3>enfermedad 5</h3>
                            <h4>descripción</h4>
                        </article>
                        <article class="sample-card-inv">
                        </article>
                    </section>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>


    <div class="bumper_4">
        <div id="colaboracion">
            <img src="{% static 'hub/img/2000px-Logotipo_de_la_Generalitat_de_Catalunya.svg.webp' %}" alt="">
            <img src="{% static 'hub/img/Logo1-Copy-11.png' %}" alt="">
            <img src="{% static 'hub/img/R.png' %}" alt="">
            <img src="{% static 'hub/img/mutuamutua-general-de-catalunya-768x480.png' %}" alt="">
        </div>
        <div id="footer">
            <p>&copy; 2024 Nombre. Todos los derechos reservados.</p>
        </div>
    </div>
    <script src="{% static 'hub/js/script.js' %}"></script>
</body>

</html>