{% extends 'Hub/base.html'%}
{%load static%}
{%block content%}
<div id="body">
    <h2 id="titulo">Expediente</h2>
    <div class="container_expediente">
        <div id="subcontainer">
            <div id="nombre_empresa"><img src="{% static 'img/logo.png' %}" alt="">
                <h1 class="sitename">Medilab</h1>
            </div>
        </div>
        <div class="linea_1"></div>
        <h2 class="apartado_1">Información paciente</h2>
        <div id="cuadro_1">
            <div id="nombre_paciente">Nombre : {{exp.paciente.perfil.nombre}}</div>
            <div id="apellido_paciente">Apellido : {{exp.paciente.perfil.apellido}}</div>
            <div id="email_paciente">Email :  {{exp.paciente.perfil.email}}</div>
            <div id="dni_paciente">DNI : {{exp.paciente.perfil.dni}}</div>
            <div id="telefono_paciente">Tel. : {{exp.paciente.perfil.telefono}}</div>
            <div id="ss_paciente">N.S.S. : {{exp.paciente.perfil.numero_seguridad_social}}</div>
        </div>
        <div id="linea_2"></div>
        <div id="expediente_fecha">Fecha expediente :  {{exp.fecha_hora}}</div>
        <div id="medico">Profesional asignado : {{exp.doctor.perfil.nombre}} {{exp.doctor.perfil.apellido}}</div>
        <div class="linea_1"></div>
        <h2 class="apartado_1">contacto</h2>
        <div id="telefono_empresa">teléfono : 639 482 715</div>
        <div> email : info@example.com </div>
        <div>pagina web : http://127.0.0.1:8000/</div>
    </div>
    <!--  -------------------------------------------------------------------------------------- -->
    <div id="separador"></div>
    <div class="container_expediente">
        {% block expediente%}
        <div id="subcontainer">
            <div id="nombre_empresa"><img src="{% static 'img/logo.png' %}" alt="">
                <h1 class="sitename">Medilab</h1>
            </div>
        </div>
        <div class="linea_1"></div>
        <div id="antecedente">Antecedentes : {{exp.antecedentes}}</div>
        <div class="linea_1"></div>
        {% if expediente.especialidad == "CancerMama" %}
            <h2 class="apartado_1"><strong>Especialidad :</strong> Oncología</h2>
            <div id="diagnostico">Diagnóstico principal : </div>
            <div id="medicacion">Tratamiente :</div>
            <img class="foto" src="{% static 'img/departments-2.jpg' %}" alt="herida">
            <div class="cuadro_2">
                <div>
                </div>
            </div>
        {% endif %}
        {% if expediente.especialidad == "Diabetes" %}
            <h2 class="apartado_1"><strong>Especialidad :</strong> Endocrinología</h2>
            <div id="diagnostico">Diagnóstico principal : </div>
            <div id="medicacion">Tratamiente : </div>
            <img class="foto" src="{% static 'img/departments-1.jpg' %}" alt="herida">
            <div class="cuadro_2">
                <div>
                </div>
            </div>
        {% endif %}
        {% if expediente.especialidad == "Pneumonia" %}
            <h2 class="apartado_1"><strong>Especialidad :</strong> Neumología</h2>
            <div id="diagnostico">Diagnóstico principal : </div>
            <div id="medicacion">Tratamiente : </div>
            <img class="foto" src="{% static 'img/departments-2.jpg' %}" alt="herida">
            <div class="cuadro_2">
                <div>
                </div>
            </div>
        {% endif %}
        {% if expediente.especialidad == "Lunares" %}
        <h2 class="apartado_1"><strong>Especialidad :</strong> Dermatología</h2>
        <div id="diagnostico">Diagnóstico principal : </div>
        <div id="medicacion">Tratamiente : </div>
        <img class="foto" src="{% static 'img/departments-2.jpg' %}" alt="herida">
        <div class="cuadro_2">
            <div>
            </div>
        </div>
        {% endif %}
        {% if expediente.especialidad == "Cardiaco" %}
        <h2 class="apartado_1"><strong>Especialidad :</strong> Cardiología</h2>
        <div id="diagnostico">Diagnóstico principal : </div>
        <div id="medicacion">Tratamiente : </div>
        <img class="foto" src="{% static 'img/departments-2.jpg' %}" alt="herida">
        <div class="cuadro_2">
            <div>
            </div>
        </div>
        {% endif %}
        <h2 class="apartado_1">contacto</h2>
        <div id="telefono_empresa">teléfono : 639 482 715</div>
        <div> email : info@example.com </div>
        <div>pagina web : http://127.0.0.1:8000/</div>
        {%endblock%}
    </div>
    
    <style>
        #body {
            width: 100%;
            height: fit-content;
            margin-bottom: 30px;
            padding-top: 30px;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 15px;

        }

        #titulo {
            font-size: 25px;
            margin-bottom: 10px;
        }

        #subcontainer {
            width: 100%;
            height: fit-content;
            display: flex;
        }

        #nombre_empresa {
            height: fit-content;
            display: flex;
        }

        #nombre_empresa h1 {
            font-size: 20px;
            margin-top: 5px;
        }

        #nombre_empresa img {
            width: 30px;
        }

        .container_expediente {
            padding: 20px 30px 50px 30px;
            border: solid #1977cc 2px;
            width: 60%;
            height: fit-content;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
        }

        .linea_1 {
            width: 400px;
            height: 2px;
            background-color: #1977cc;
            margin: 20px 0 10px 0;
        }

        #linea_2 {
            width: 140px;
            height: 2px;
            background-color: #1977cc;
            margin: 10px 0 40px 230px;
        }

        .apartado_1 {
            font-size: 15px;
            margin-bottom: 10px;
        }

        #cuadro_1 {
            padding: 20px 30px 20px 30px;
            margin: 5% 0 5% 9%;
            border: solid #1977cc 1px;
            width: 80%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
        }

        #medico {
            display: flex;
            margin-bottom: 15px;
        }

        #diagnostico {
            margin-top: 30px;
        }

        #antecedente {
            margin-bottom: 20px;
        }

        .cuadro_2 {
            padding: 20px 30px 20px 30px;
            border: solid #1977cc 1px;
            width: 100%;
            height: fit-content;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            margin-bottom: 10px;
        }

        #telefono_empresa {
            margin-top: 30px;
        }

        #separador {
            width: 100%;
            height: 50px;
        }

        .foto {
            width: 200px;
            max-height: 500px;
            margin-bottom: 30px;
        }

    
    </style>
    <script>

    </script>
</div>
{%endblock%}