<div>
    <h2>Modificar Visita</h2>
    <form action="{% url 'staff/mod_visita' visita.id %}" method="post" class="php-email-form">
        {% csrf_token %}
        {% for field in form%}
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        <!-- este de aquí es para que, a la hora de modificar la visita, se le pase el paciente. Es para controlar errores internos. No se ve en el formulario. -->
        {% if field.name in 'medico'%}
        <input type="hidden" name="{{ field.html_name }}"
            value="{{ field.value|default_if_none:'' }}">
        <!-- Este campo de aquí es para controlar que salga bien la hora, en el formato correcto. DateTiemField exige un tipo de fecha-hora concreto. Con esto uno se asegura de que siempre sea así. -->
        {% elif field.name == 'hora_fecha' %}
        <input type="datetime-local" name="{{ field.html_name }}" id="{{ field.id_for_label }}"
            value="{{ field.value|date:'Y-m-d\\TH:i' }}" class="form-control">
        <!-- Con este campo puedes seleccionar que medico quieres que te trate. No se ha de poner el nombre, es un desplegable -->
        {% elif field.name == 'paciente' %}
        <select name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control">
            {% for choice in field.field.choices %}
            <option value="{{ choice.0 }}" {% if field.value|stringformat:"s" == choice.0|stringformat:"s" %}selected{% endif %}>
                {{ choice.1 }}
            </option>
            {% endfor %}
        </select>
        <!-- Para el charfield o lo demás. Cosas que no importa el formato -->
        {% else %}
        <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.id_for_label }}"
            value="{{ field.value|default_if_none:'' }}" class="form-control">
        {% endif %}
        <!-- Dato, cuando se comete un error (digamos, dejar algo en blanco), redirecciona a la url de modificar visita. Dado que se usa htmx, esto da un error. Bueno, no un error, sino que hace que se vea mal, sin el css de bootstrap. -->
        {% if field.errors %}
        <div class="alert alert-danger">
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>