<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'staff/styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>Inbox</h1>
        <nav>
            <a href="{% url 'staff/lobby'' %}">Lobby</a>
            <a href="{% url 'staff/lista_pacientes' %}">Lista de Pacientes</a>
            <a href="{% url 'staff/lista_consultas' %}">Lista de Consultas</a>
        </nav>
    </div>
    <div class="container">
        <h2>Bandeja de Entrada</h2>
        <!-- Contenido del inbox -->
    </div>
    <div class="footer">
        <p>&copy; 2024 Clínica XYZ</p>
    </div>
</body>
</html>
