<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        <div>
            {{ filter.form.as_p }}
            <button type="submit" class="button">Search</button>
        </div>
    </form>
    <ul>
        {% for i in page_obj%}
        <li>
            <p>{{i}}</p>
        </li>
        {% endfor%}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1{% if filter.form.data %}&{{ filter.form.data.urlencode }}{% endif %}">&laquo;
                first</a>
            <a
                href="?page={{ page_obj.previous_page_number }}{% if filter.form.data %}&{{filter.form.data.urlencode }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a
                href="?page={{ page_obj.next_page_number }}{% if filter.form.data %}&{{filter.form.data.urlencode }}{% endif %}">next</a>
            <a
                href="?page={{ page_obj.paginator.num_pages }}{% if filter.form.data %}&{{filter.form.data.urlencode }}{% endif %}">last&raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>