<div class="container mt-4">
    <h2>Perfil de Médico</h2>
    <div class="row">
        <div class="col-md-6">
            <p><strong>Nombre:</strong> {{ perfil.nombre }}</p>
            <p><strong>Apellido:</strong> {{ perfil.apellido }}</p>
            <p><strong>DNI:</strong> {{ perfil.dni }}</p>
            <p><strong>Email:</strong> {{ perfil.email }}</p>
        </div>
        <div class="col-md-6">
            <p><strong>Teléfono:</strong> {{ perfil.telefono }}</p>
            <p><strong>Dirección:</strong> {{ perfil.direccion }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ perfil.fecha_nacimiento }}</p>
            <p><strong>Número de Seguro Social:</strong> {{ perfil.numero_seguro_social }}</p>
        </div>
    </div>
    <a href="{% url 'staff/editar_perfil' %}" 
       class="btn btn-primary btn-sm" 
       hx-get="{% url 'staff/editar_perfil' %}" 
       hx-target="#edit-profile-container" 
       hx-swap="innerHTML">Editar Perfil</a>
    <div id="edit-profile-container">
        <!-- Aquí se cargará el formulario de edición -->
    </div>
</div>


<script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
