{% extends 'Hub/base.html'%}
{%load static%}

{%block content%}

<div id="med_paciente_editar">
    <div class="paciente_boton">
        <button>Guardar</button>
    </div>

    <div class="datos_personales">
        <div class="parte_superior">
            <p>Nombre: Dross</p>
            <p>Apellido: Rotzank</p>
            <p>DNI: 123456789k</p>
        </div>
        <div class="parte_central">
            <div class="columnas1">
                <p>Email: correo_de_prueba@minusmail.com</p>
                <p>Telefono: 482481018391</p>
                <p>Fecha de nacimiento: 10/10/2010</p>
            </div>
            <div class="columnas2">
                <p>Numero del seguro social: 123-570-986-621-4089</p>
                <p>contacto de emergencia: La vieja del visillo</p>
                <p>telefono de emergencia: 1928374655</p>
            </div>
        </div>

    </div>
    <div id="triple_seccion">
        <div class="botones">
            <button id="boton_visita" class="boton_edicion">Visitas</button>
            <button id="boton_expediente" class="boton_edicion">Expediente</button>
            <button id="boton_medicacion" class="boton_edicion">Medicacion</button>
        </div>
        <div id="visitas" class="marco_extension">
            {% for visita in visitas%}
            <div class="informe_visita">
                <div class="visita_datos">
                    <div class="visita_columna">
                        <p>Nombre del paciente: Kameryn</p>
                        <p>Fecha: Hoy</p>
                    </div>
                    <div class="visita_columna">
                        <p>Nombre del doctor: Dross</p>
                    </div>
                </div>
                <div class="visita_descripcion">
                    <p>Descripción: Yo antes era aventurero como tu, hasta que recibí una flecha en la pierna.</p>
                </div>
            </div>
            {% endfor%}
        </div>
        <div id="expedientes" class="hidden marco_extension">expedientes</div>
        <div id="medicacion" class="hidden marco_extension">medicacion</div>

    </div>
</div>


<script>
    lista = document.getElementById('triple_seccion')
    parrafo = document.createElement('p')
    // parrafo.textContent = 'listas?'
    lista.appendChild(parrafo)

    boton_visita = document.getElementById('boton_visita')
    boton_expediente = document.getElementById('boton_expediente')
    boton_medicacion = document.getElementById('boton_medicacion')
    vista_visitas = document.getElementById('visitas')
    vista_expediente = document.getElementById('expedientes')
    vista_medicacion = document.getElementById('medicacion')
    boton_visita.addEventListener('click', () => {
        if (vista_visitas.classList.contains('hidden')) {
            vista_visitas.classList.toggle('hidden');
        }
        if (!vista_expediente.classList.contains('hidden')) {
            vista_expediente.classList.toggle('hidden');
        }
        if (!vista_medicacion.classList.contains('hidden')) {
            vista_medicacion.classList.toggle('hidden');
        }
    })
    boton_expediente.addEventListener('click', () => {
        if (!vista_visitas.classList.contains('hidden')) {
            vista_visitas.classList.toggle('hidden');
        }
        if (vista_expediente.classList.contains('hidden')) {
            vista_expediente.classList.toggle('hidden');
        }
        if (!vista_medicacion.classList.contains('hidden')) {
            vista_medicacion.classList.toggle('hidden');
        }
    })
    boton_medicacion.addEventListener('click', () => {
        if (!vista_visitas.classList.contains('hidden')) {
            vista_visitas.classList.toggle('hidden');
        }
        if (!vista_expediente.classList.contains('hidden')) {
            vista_expediente.classList.toggle('hidden');
        }
        if (vista_medicacion.classList.contains('hidden')) {
            vista_medicacion.classList.toggle('hidden');
        }
    })

</script>
<style>
    p {
        margin: 0;
        padding: 0;
    }

    #med_paciente_editar {
        width: 90%;
        /* height: 100px; */
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 1px;
        padding: 10px;
        font-size: 19px;
        color: black;
        background-color: rgb(209, 233, 255);
    }

    .parte_superior,
    .parte_central {
        display: flex;
    }

    .parte_superior {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 15px 20px;
        box-shadow: 0px 0px 5px 1px;
        background-color: white;
        border-radius: 5px;
    }

    .parte_superior p {
        margin-right: 10%;
    }

    .parte_central {
        width: 95%;
        justify-content: space-between;
        box-shadow: 0px 0px 5px 1px;
        background-color: white;
        border-radius: 5px;
    }

    .datos_personales {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columnas1 p,
    .columnas2 p {
        margin-bottom: 25px;
        padding: 15px;
    }

    .paciente_boton {
        margin: auto;
        width: fit-content;
        padding: 10px;
    }
    .botones{
        margin-top: 20px;
        text-align: center;
    }
    .boton_edicion{
        border-bottom: 0px solid black;
        border-radius: 5px 5px 0px 0px;
        font-size: 21px;
        padding: 7px 13px;
        margin: 0px 7px
    }
    .hidden {
        display: none
    }
    .marco_extension{
        border: 2px solid black;
        border-radius: 3px;
        background-color: white;
        margin: 0px 10px;
    }
    .informe_visita {
        background-color: whitesmoke;
        margin: 30px auto;
        width: 85%;
        padding: 1px;
        box-shadow: 0px 0px 6px 1px;
        border-radius: 5px;
    }

    .visita_datos {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0px;
    }

    .visita_columna {
        width: 49%;
    }

    .visita_columna p {
        margin-bottom: 15px;
    }
    .visita_descripcion{
        padding: 10px;
        margin: 10px;
        background-color: white;
        border: 1px solid black;
        min-height: 100px;
    }
</style>

{%endblock%}