<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página No Encontrada</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'E404/styles.css' %}">
</head>
<body>
    <div class="error-container">
        <h1>Error 404</h1>
        <p>Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
        <a href="{% url 'log_in' %}" class="button">Volver a la página de inicio</a>
    </div>
</body>
</html>
